:root {
  --relume-library-lite-rl-white: white;
  --relume-library-lite-rl-black: black;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.scroll-snap-wrapper {
  width: 100vw;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow: scroll;
}

.section-1 {
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
}

.section-2 {
  height: 100vh;
  background-color: #fff;
}

.section-3 {
  height: 100vh;
  background-color: #c46f2b;
}

.html-embed {
  display: none;
}

.rl_navbar1_menu-button {
  padding: 0;
}

.rl_navbar1_button {
  border: 1px solid var(--relume-library-lite-rl-black);
  background-color: var(--relume-library-lite-rl-black);
  color: var(--relume-library-lite-rl-white);
  text-align: center;
  padding: .5rem 1.25rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
}

.rl_navbar1_button-secondary {
  border: 1px solid var(--relume-library-lite-rl-black);
  color: var(--relume-library-lite-rl-black);
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  padding: .5rem 1.25rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
}

.rl_navbar1_menu-buttons {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  margin-left: 1rem;
  display: flex;
}

.rl_navbar1_dropdown-link {
  color: #000;
  padding: .5rem 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.rl_navbar1_dropdown-link.w--current {
  color: #000;
}

.rl_navbar1_dropdown-list.w--open {
  background-color: #fff;
  border: 1px solid #000;
  padding: .5rem;
}

.rl-dropdown-icon {
  width: 1rem;
  height: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1rem;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
}

.rl_navbar1_dropdown-toggle {
  color: var(--relume-library-lite-rl-black);
  padding: .5rem 2.5rem .5rem 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.rl_navbar1_link {
  color: var(--relume-library-lite-rl-black);
  background-color: rgba(0, 0, 0, 0);
  padding: .5rem 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
}

.rl_navbar1_link.w--current {
  color: #000;
}

.rl_navbar1_menu {
  align-items: center;
  display: flex;
  position: static;
}

.rl_navbar1_logo-link {
  padding-left: 0;
}

.rl_navbar1_container {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.rl_navbar1_component {
  width: 100%;
  height: auto;
  min-height: 4.5rem;
  border-bottom: 1px solid var(--relume-library-lite-rl-black);
  background-color: var(--relume-library-lite-rl-white);
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  position: relative;
}

.efi-button-menu {
  padding: 0;
}

.efi-nav-link {
  padding: 0 10px;
  font-size: 16px;
}

.efi-nav-01-nav-menu {
  justify-content: center;
  align-items: center;
  display: flex;
}

.efi-h5 {
  font-size: 20px;
}

.efi-nav-01-inner {
  width: 100%;
  max-width: 1440px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.efi-nav-01 {
  background-color: #fff;
  padding: 30px 5%;
  position: -webkit-sticky;
  position: sticky;
}

.efi-hr-01-logo-cell {
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
}

.efi-hr-01-logos-grid {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.efi-hr-01-container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.efi-hr-01-logos {
  background-color: #fff;
  padding: 50px 0%;
}

.efi-hr-01-right-content {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.efi-button {
  background-color: rgba(65, 75, 85, .69);
  border-radius: 12px;
  margin-right: 61px;
  padding: 20px 49px 20px 40px;
  font-size: 18px;
  font-weight: 400;
  transition: all .7s;
}

.efi-button:hover {
  transform: translate(0, -7px);
}

.efi-hr-01-buttons-wrapper {
  justify-content: space-between;
  display: flex;
}

.efi-big-paragraph {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.efi-jumbo {
  margin-top: 34px;
  margin-bottom: 43px;
  font-size: 5.5vh;
  line-height: 1.1em;
}

.efi-label {
  letter-spacing: .5px;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: 600;
}

.efi-label.big {
  color: #000;
  text-align: left;
  font-size: 16px;
  line-height: 1.8em;
}

.efi-hr-01-title-wrapper {
  margin-bottom: 25px;
}

.efi-hr-01-left-content {
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0;
  padding-top: 0;
  display: flex;
}

.efi-hr-01-grid {
  z-index: 1;
  grid-column-gap: 50px;
  aspect-ratio: auto;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 5%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.efi-hr-01 {
  z-index: 1;
  padding: 5% 5% 5% 11%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.efi-accordion-paragraph {
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 40px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
}

.efi-ft-09-content {
  overflow: hidden;
}

.efi-ft-09-bar {
  color: #1a1e27;
  border-bottom: 1px solid rgba(0, 0, 0, .07);
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  text-decoration: none;
  display: flex;
}

.efi-ft-09-accordion-wrap {
  cursor: pointer;
  padding-left: 0;
  padding-right: 0;
}

.efi-ft-09-accordion-bottom-bar {
  width: 100%;
  height: 1px;
}

.efi-ft-09-accordion {
  margin-left: auto;
  margin-right: auto;
}

.efi-ft-09-grid {
  grid-column-gap: 75px;
  grid-template-rows: .25fr;
  grid-template-columns: 1fr;
  grid-auto-rows: .25fr;
  margin-bottom: 6px;
}

.efi-ft-09-container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.efi-ft-09 {
  z-index: 2;
  background-color: rgba(0, 0, 0, .06);
  padding: 100px 3%;
  position: relative;
}

.list-item {
  padding-top: 9px;
  font-size: 20px;
}

.text-block-2 {
  font-size: 20px;
}

.text-block-3 {
  font-size: 20px;
  line-height: 30px;
}

.quick-stack {
  padding-left: 0;
}

.cell {
  flex-direction: row;
  justify-content: flex-end;
}

.efi-form-button {
  width: 100%;
  color: #fff;
  letter-spacing: 0;
  background-color: #000;
  border-radius: 0;
  padding: 12px 32px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  transition: all .7s ease-in-out;
}

.efi-form-button:hover {
  color: #fff;
  background-color: #636363;
  transform: translate(0, -7px);
}

.efi-form-button:active {
  color: #fff;
}

.efi-form-button.invert {
  filter: invert();
}

.input {
  height: 55px;
  color: #727272;
  letter-spacing: -.8px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px #000;
  border-bottom: 1px solid #6b6b6b;
  margin-bottom: 30px;
  padding: 12px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .04);
}

.input:focus {
  border: 1px #cecece;
  border-bottom-style: solid;
}

.efi-frm-03-text-grid {
  grid-column-gap: 50px;
  grid-template-rows: auto;
  margin-bottom: 50px;
}

.efi-frm-03-container {
  color: #fff;
}

.efi-frm-03 {
  background-color: #000;
  padding: 100px 5%;
}

.button {
  width: 20vw;
  text-align: center;
  background-color: #000;
}

.efi-button-copy {
  width: 15vw;
  text-align: center;
  background-color: #000;
  margin-right: 27px;
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 400;
  transition: all .7s;
}

.efi-button-copy:hover {
  transform: translate(0, -7px);
}

.div-block-2 {
  margin-right: 0;
}

.scroll-snap-wrapper-copy {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .05);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow: scroll;
}

.div-block-3 {
  z-index: 1;
  position: static;
  top: 0;
  overflow: visible;
}

.div-block-4 {
  background-color: #663838;
}

.footer_content {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  display: flex;
}

.home-cta_heading {
  max-width: 5em;
  margin-left: auto;
  margin-right: auto;
}

.home-cta_heading.text-size-display {
  max-width: 10em;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 7em;
}

.text-block-4 {
  color: #000;
  text-align: justify;
  margin-bottom: 28px;
  font-size: 20px;
  line-height: 33px;
  display: block;
}

.spacer-96 {
  letter-spacing: 1em;
  padding-bottom: 6em;
}

.footer_top-layout {
  grid-column-gap: 2em;
  grid-row-gap: 3em;
  grid-template: ". Area" .25fr
                 ". ."
                 / .5fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-block-5 {
  color: #000;
  font-size: 20px;
}

.home-hero_wrapper {
  margin-bottom: -100vh;
}

.home-content_wrapper-copy {
  z-index: 2;
  min-height: 100vh;
  background-color: #f8f6ff;
  border-radius: 2em;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  display: flex;
  position: relative;
}

.page-styles {
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.efi-jumbo-2 {
  color: #000;
  text-align: left;
  margin-top: 34px;
  margin-bottom: 43px;
  font-size: 5.5vh;
  line-height: 1.1em;
}

.home-cta_section {
  height: 100vh;
  color: #000;
  text-align: center;
  mix-blend-mode: screen;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.home-hero_section {
  width: 100%;
  min-height: 90vh;
  text-align: center;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.spacer {
  height: 100vh;
}

.home-cta_wrapper {
  height: 300vh;
  background-color: #141414;
  background-image: url('../images/Screenshot-2023-11-08-at-01.19.23.png'), url('../images/pexels-ivan-samkov-7621385.jpg');
  background-position: 0 0, 50% 0;
  background-repeat: repeat, no-repeat;
  background-size: cover, cover;
  margin-top: -100vh;
  margin-bottom: -100vh;
}

.footer_component {
  background-color: #000;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

.page-wrapper {
  width: 100%;
  font-size: 1em;
  position: relative;
  overflow: visible;
}

.text-block-6 {
  color: #000;
  margin-top: 24px;
}

.text-block-7 {
  color: #fff;
  font-size: 1.5em;
  line-height: 2;
}

.list-item-2 {
  color: #000;
  margin-top: 21px;
  padding-top: 9px;
  font-size: 20px;
}

.efi-big-paragraph-2 {
  color: #000;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.footer_wrapper {
  margin-top: -100vh;
}

.efi-h2-2 {
  color: #000;
}

.efi-h2-2.about_point {
  font-size: 50px;
}

.home-content_wrapper {
  z-index: 2;
  min-height: 100vh;
  background-color: #f3f1f0;
  border-radius: 2em;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  display: flex;
  position: relative;
}

.div-block-5 {
  margin-right: 0;
}

.footer_logo-text {
  letter-spacing: 0;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 2.8em;
  font-weight: 300;
  line-height: 1;
}

.efi-ft-10 {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0);
  padding: 100px 3%;
  position: relative;
}

.container {
  z-index: 2;
  width: 100%;
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
  position: relative;
}

.bold-text-2 {
  color: #fff;
  font-size: 2em;
}

.efi-button-menu-2 {
  padding: 0;
}

.efi-nav-link-2 {
  padding: 0 10px;
  font-size: 16px;
}

.efi-nav-01-nav-menu-2 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.efi-h5-2 {
  color: #000;
  font-size: 40px;
}

.efi-nav-01-inner-2 {
  width: 100%;
  max-width: 1440px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.efi-nav-2 {
  background-color: #fff;
  padding: 30px 5%;
}

.flex-block {
  justify-content: space-between;
  margin-top: 30px;
}

.flex-block-2 {
  justify-content: space-between;
}

.flex-block-2.myflex {
  margin-top: 26px;
}

.text-block-4-copy {
  color: #000;
  text-align: justify;
  margin-bottom: 28px;
  font-size: 20px;
  line-height: 33px;
  display: block;
}

@media screen and (min-width: 1920px) {
  .section-1 {
    height: 110vh;
  }

  .section-2 {
    background-color: #fff;
  }

  .section-3 {
    background-color: rgba(255, 255, 255, .25);
  }

  .efi-hr-01-logos {
    background-color: #fff;
  }

  .efi-hr-01-right-content {
    background-position: 0%;
  }

  .efi-jumbo {
    font-size: 5vh;
    line-height: 1.2em;
  }

  .efi-hr-01 {
    position: relative;
  }

  .efi-paragraph {
    color: #fff;
  }

  .efi-ft-09-grid-inner {
    margin-top: 3px;
  }

  .efi-h2 {
    color: var(--relume-library-lite-rl-black);
    padding-top: 24px;
  }

  .efi-ft-09-grid {
    grid-template-columns: 1fr;
  }

  .efi-ft-09-container {
    margin-bottom: -65px;
  }

  .list-item {
    color: #000;
    text-align: justify;
    margin-top: 13px;
    padding-top: 0;
    font-size: 20px;
    line-height: 30px;
  }

  .text-block {
    color: var(--relume-library-lite-rl-black);
    font-size: 15px;
  }

  .div-block {
    padding-top: 65px;
  }

  .text-block-2 {
    color: var(--relume-library-lite-rl-black);
    font-size: 20px;
  }

  .text-block-3 {
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
  }

  .bold-text {
    font-size: 20px;
  }

  .quick-stack {
    margin-top: 17px;
    margin-bottom: 23px;
    padding: 24px 0 0;
  }

  .cell {
    flex-direction: row;
    justify-content: flex-end;
  }

  .text-block-4 {
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
  }

  .text-block-5 {
    color: #000;
    font-size: 20px;
  }

  .efi-jumbo-2 {
    font-size: 5vh;
    line-height: 1.2em;
  }

  .text-block-6 {
    color: #000;
    margin-bottom: 20px;
    font-size: 15px;
  }

  .list-item-2 {
    color: #000;
    text-align: justify;
    margin-top: 13px;
    padding-top: 0;
    font-size: 20px;
    line-height: 30px;
  }

  .efi-h2-2 {
    color: #000;
    margin-top: 29px;
    padding-top: 24px;
  }

  .efi-h2-2.about_point {
    margin-bottom: 25px;
  }

  .efi-h2-2.research_point {
    margin-top: 39px;
  }

  .efi-nav-01-inner-2 {
    width: 100vw;
    max-width: 80vw;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    padding-left: 119px;
  }

  .text-block-4-copy {
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
  }
}

@media screen and (max-width: 991px) {
  .rl_menu-icon_line-bottom {
    width: 24px;
    height: 2px;
    background-color: #000;
    padding-bottom: 0;
    padding-right: 0;
  }

  .rl_menu-icon_line-middle-inner {
    width: 4px;
    height: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .rl_menu-icon_line-middle {
    width: 24px;
    height: 2px;
    background-color: #000;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .rl_menu-icon_line-top {
    width: 24px;
    height: 2px;
    background-color: #000;
    padding-bottom: 0;
    padding-right: 0;
  }

  .rl_menu-icon {
    width: 48px;
    height: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: -.5rem;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .rl_navbar1_menu-button.w--open {
    background-color: rgba(0, 0, 0, 0);
  }

  .rl_navbar1_menu-buttons {
    flex-direction: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    align-items: stretch;
    margin-top: 1.5rem;
    margin-left: 0;
  }

  .rl_navbar1_dropdown-link {
    width: auto;
    padding: .75rem 0 .75rem 5%;
  }

  .rl_navbar1_dropdown-list {
    position: static;
    overflow: hidden;
  }

  .rl_navbar1_dropdown-list.w--open {
    border-style: none;
    padding: 0;
  }

  .rl-dropdown-icon {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    top: auto;
    bottom: auto;
    left: auto;
    right: 0%;
  }

  .rl_navbar1_dropdown-toggle {
    align-items: center;
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: 0;
    display: flex;
  }

  .rl_navbar1_menu-dropdown {
    width: 100%;
    font-size: 1.125rem;
  }

  .rl_navbar1_link {
    width: auto;
    padding: .75rem 0;
    font-size: 1.125rem;
  }

  .rl_navbar1_menu {
    -webkit-text-fill-color: inherit;
    background-color: #fff;
    background-clip: border-box;
    border-bottom: 1px solid #000;
    padding: 1rem 5% 2rem;
    position: absolute;
    overflow: auto;
  }

  .rl_navbar1_menu.is-page-height-tablet {
    height: 100vh;
    padding-bottom: 15rem;
  }

  .efi-button-menu {
    padding: 0;
  }

  .efi-button-menu.w--open {
    background-color: #000;
  }

  .efi-nav-link.light {
    background-color: #fff;
    padding: 30px 5%;
  }

  .efi-hr-01-logos-grid {
    grid-row-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .efi-jumbo {
    font-size: 65px;
  }

  .efi-hr-01-left-content {
    padding-right: 0%;
  }

  .efi-hr-01-grid {
    grid-row-gap: 70px;
    grid-template-columns: 1fr;
  }

  .efi-hr-01 {
    padding-top: 10%;
    padding-bottom: 5%;
  }

  .efi-ft-09-accordion-wrap {
    padding-left: 20px;
    padding-right: 20px;
  }

  .efi-ft-09 {
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .footer_top-layout {
    grid-template-columns: 1fr 1fr;
  }

  .efi-jumbo-2 {
    font-size: 65px;
  }

  .footer_component {
    position: relative;
  }

  .efi-ft-10 {
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .container {
    padding-left: 5%;
    padding-right: 5%;
  }

  .efi-button-menu-2 {
    padding: 0;
  }

  .efi-button-menu-2.w--open {
    background-color: #000;
  }

  .efi-nav-link-2.light {
    background-color: #fff;
    padding: 30px 5%;
  }
}

@media screen and (max-width: 767px) {
  .rl_navbar1_logo-link {
    padding-left: 0;
  }

  .rl_navbar1_component {
    height: auto;
    min-height: 4rem;
  }

  .efi-jumbo {
    font-size: 50px;
  }

  .efi-ft-09-grid {
    grid-template-columns: 1fr;
  }

  .efi-jumbo-2 {
    font-size: 50px;
  }
}

@media screen and (max-width: 479px) {
  .section-3 {
    background-color: var(--relume-library-lite-rl-white);
  }

  .efi-hr-01-logos-grid {
    grid-template-columns: 1fr 1fr;
  }

  .efi-button {
    width: 80vw;
    flex: 0 auto;
    margin-top: 11px;
    display: block;
  }

  .efi-hr-01-buttons-wrapper {
    flex-direction: column;
    justify-content: space-between;
  }

  .efi-big-paragraph {
    font-size: 15px;
    line-height: 20px;
  }

  .efi-jumbo {
    font-size: 30px;
  }

  .efi-hr-01-title-wrapper {
    flex-direction: column;
    display: flex;
  }

  .efi-hr-01 {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .efi-paragraph {
    margin-bottom: 0;
  }

  .efi-ft-09-grid-inner {
    width: 90vw;
    padding-right: 0;
  }

  .efi-h2 {
    margin-top: 0;
    margin-bottom: -8px;
    font-size: 20px;
  }

  .efi-ft-09-grid {
    grid-auto-flow: row;
  }

  .efi-ft-09-container {
    margin-top: -54px;
  }

  .list-item {
    text-align: left;
    padding: 2%;
  }

  .text-block-2 {
    padding-left: 1%;
    padding-right: 1%;
  }

  .text-block-3 {
    text-align: justify;
    padding-left: 1%;
    padding-right: 1%;
  }

  .list {
    margin-left: auto;
    margin-right: auto;
    padding: 0% 0% 0% 10%;
  }

  .bold-text {
    text-align: left;
    font-size: 15px;
  }

  .efi-frm-03-text-grid {
    grid-template-columns: 1fr;
  }

  .home-cta_heading.text-size-display {
    font-size: 5em;
    line-height: 60px;
  }

  .text-block-4 {
    text-align: justify;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 15px;
    line-height: 20px;
  }

  .footer_top-layout {
    flex-direction: column;
    grid-template-columns: 1fr;
    display: flex;
  }

  .text-block-5 {
    padding-left: 1%;
    padding-right: 1%;
    font-size: 15px;
  }

  .efi-jumbo-2 {
    font-size: 30px;
  }

  .list-item-2 {
    text-align: left;
    padding: 2%;
    font-size: 15px;
  }

  .efi-big-paragraph-2 {
    width: 85vw;
    font-size: 15px;
    line-height: 20px;
  }

  .efi-h2-2 {
    margin-top: 0;
    margin-bottom: -8px;
    font-size: 15px;
  }

  .efi-h2-2.about_point {
    margin-top: 56px;
    font-size: 20px;
  }

  .efi-ft-10 {
    padding-left: 5%;
    padding-right: 5%;
  }

  .bold-text-2 {
    font-size: 1em;
  }

  .efi-h5-2 {
    font-size: 20px;
  }

  .efi-nav-2 {
    padding-left: 0%;
  }

  .body {
    padding: 5% 0%;
  }

  .flex-block.myflex, .flex-block-2.myflex {
    flex-direction: column;
  }

  .text-block-4-copy {
    text-align: left;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 15px;
    line-height: 20px;
  }
}

#w-node-e8b6b2e0-f1ef-79f7-7a79-03b052865c91-cd7254b3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-e8b6b2e0-f1ef-79f7-7a79-03b052865ca0-cd7254b3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: auto;
}

#w-node-e8b6b2e0-f1ef-79f7-7a79-03b052865ca7-cd7254b3, #w-node-e8b6b2e0-f1ef-79f7-7a79-03b052865cb0-cd7254b3, #w-node-e8b6b2e0-f1ef-79f7-7a79-03b052865cba-cd7254b3, #w-node-b25e280c-c716-5325-64d2-b87d742fd290-cd7254b3, #w-node-e8b6b2e0-f1ef-79f7-7a79-03b052865cce-cd7254b3, #w-node-_9f5080fd-988e-8242-ca22-e8f7a195f45f-cd7254b3, #w-node-_9a37ccec-d832-0667-a6ff-0d6ba9717463-cd7254b3, #w-node-e8b6b2e0-f1ef-79f7-7a79-03b052865ce9-cd7254b3, #w-node-e8b6b2e0-f1ef-79f7-7a79-03b052865d0d-cd7254b3, #w-node-e8b6b2e0-f1ef-79f7-7a79-03b052865d0e-cd7254b3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-e8b6b2e0-f1ef-79f7-7a79-03b052865d12-cd7254b3 {
  grid-area: Area;
}

@media screen and (min-width: 1920px) {
  #w-node-e8b6b2e0-f1ef-79f7-7a79-03b052865c91-cd7254b3 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-e8b6b2e0-f1ef-79f7-7a79-03b052865ca0-cd7254b3 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: center;
    justify-self: auto;
  }

  #w-node-e8b6b2e0-f1ef-79f7-7a79-03b052865ca7-cd7254b3, #w-node-e8b6b2e0-f1ef-79f7-7a79-03b052865cb0-cd7254b3, #w-node-e8b6b2e0-f1ef-79f7-7a79-03b052865cb3-cd7254b3, #w-node-e8b6b2e0-f1ef-79f7-7a79-03b052865cba-cd7254b3, #w-node-e8b6b2e0-f1ef-79f7-7a79-03b052865cce-cd7254b3, #w-node-_9a37ccec-d832-0667-a6ff-0d6ba9717463-cd7254b3, #w-node-e8b6b2e0-f1ef-79f7-7a79-03b052865ce9-cd7254b3, #w-node-e8b6b2e0-f1ef-79f7-7a79-03b052865cec-cd7254b3 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-e8b6b2e0-f1ef-79f7-7a79-03b052865d12-cd7254b3 {
    justify-self: end;
  }
}


