:root {
  --relume-library-lite-rl-white: white;
  --relume-library-lite-rl-black: black;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.scroll-snap-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

.section-1 {
  height: 100vh;
}

.section-2 {
  height: 100vh;
  background-color: #fff;
}

.section-3 {
  height: 100vh;
  background-color: #c46f2b;
}

.html-embed {
  display: none;
}

.rl_navbar1_menu-button {
  padding: 0;
}

.rl_navbar1_button {
  border: 1px solid var(--relume-library-lite-rl-black);
  background-color: var(--relume-library-lite-rl-black);
  color: var(--relume-library-lite-rl-white);
  text-align: center;
  padding: .5rem 1.25rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
}

.rl_navbar1_button-secondary {
  border: 1px solid var(--relume-library-lite-rl-black);
  color: var(--relume-library-lite-rl-black);
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  padding: .5rem 1.25rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
}

.rl_navbar1_menu-buttons {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  margin-left: 1rem;
  display: flex;
}

.rl_navbar1_dropdown-link {
  color: #000;
  padding: .5rem 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.rl_navbar1_dropdown-link.w--current {
  color: #000;
}

.rl_navbar1_dropdown-list.w--open {
  background-color: #fff;
  border: 1px solid #000;
  padding: .5rem;
}

.rl-dropdown-icon {
  width: 1rem;
  height: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1rem;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
}

.rl_navbar1_dropdown-toggle {
  color: var(--relume-library-lite-rl-black);
  padding: .5rem 2.5rem .5rem 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.rl_navbar1_link {
  color: var(--relume-library-lite-rl-black);
  background-color: rgba(0, 0, 0, 0);
  padding: .5rem 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
}

.rl_navbar1_link.w--current {
  color: #000;
}

.rl_navbar1_menu {
  align-items: center;
  display: flex;
  position: static;
}

.rl_navbar1_logo-link {
  padding-left: 0;
}

.rl_navbar1_container {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.rl_navbar1_component {
  width: 100%;
  height: auto;
  min-height: 4.5rem;
  border-bottom: 1px solid var(--relume-library-lite-rl-black);
  background-color: var(--relume-library-lite-rl-white);
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  position: relative;
}

.efi-button-menu {
  padding: 0;
}

.efi-nav-link {
  padding: 0 10px;
  font-size: 16px;
}

.efi-nav-01-nav-menu {
  justify-content: center;
  align-items: center;
  display: flex;
}

.efi-h5 {
  font-size: 20px;
}

.efi-nav-01-inner {
  width: 100%;
  max-width: 1440px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.efi-nav-01 {
  background-color: #fff;
  padding: 30px 5%;
}

.efi-hr-01-logo-cell {
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
}

.efi-hr-01-logos-grid {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.efi-hr-01-container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.efi-hr-01-logos {
  background-color: #fff;
  padding: 50px 0%;
}

.efi-hr-01-right-content {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.efi-button {
  background-color: #000;
  margin-right: 27px;
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 400;
  transition: all .7s;
}

.efi-button:hover {
  transform: translate(0, -7px);
}

.efi-big-paragraph {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.efi-jumbo {
  margin-top: 34px;
  margin-bottom: 43px;
  font-size: 5.5vh;
  line-height: 1.1em;
}

.efi-label {
  letter-spacing: .5px;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: 600;
}

.efi-label.big {
  font-size: 16px;
  line-height: 1.8em;
}

.efi-hr-01-title-wrapper {
  margin-bottom: 25px;
}

.efi-hr-01-left-content {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.efi-hr-01-grid {
  grid-column-gap: 50px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 5%;
}

.efi-hr-01 {
  padding: 5%;
}

.efi-accordion-paragraph {
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 40px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
}

.efi-ft-09-content {
  overflow: hidden;
}

.efi-ft-09-bar {
  color: #1a1e27;
  border-bottom: 1px solid rgba(0, 0, 0, .07);
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  text-decoration: none;
  display: flex;
}

.efi-ft-09-accordion-wrap {
  cursor: pointer;
  padding-left: 0;
  padding-right: 0;
}

.efi-ft-09-accordion-bottom-bar {
  width: 100%;
  height: 1px;
}

.efi-ft-09-accordion {
  margin-left: auto;
  margin-right: auto;
}

.efi-ft-09-grid {
  grid-column-gap: 75px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  margin-bottom: 75px;
}

.efi-ft-09-container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.efi-ft-09 {
  padding: 100px 3%;
}

.list-item {
  padding-top: 9px;
}

.efi-form-button {
  width: 100%;
  color: #fff;
  letter-spacing: 0;
  background-color: #000;
  border-radius: 0;
  padding: 12px 32px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  transition: all .7s ease-in-out;
}

.efi-form-button:hover {
  color: #fff;
  background-color: #636363;
  transform: translate(0, -7px);
}

.efi-form-button:active {
  color: #fff;
}

.efi-form-button.invert {
  filter: invert();
}

.input {
  height: 55px;
  color: #727272;
  letter-spacing: -.8px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px #000;
  border-bottom: 1px solid #6b6b6b;
  margin-bottom: 30px;
  padding: 12px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .04);
}

.input:focus {
  border: 1px #cecece;
  border-bottom-style: solid;
}

.efi-frm-03-text-grid {
  grid-column-gap: 50px;
  grid-template-rows: auto;
  margin-bottom: 50px;
}

.efi-frm-03-container {
  color: #fff;
}

.efi-frm-03 {
  background-color: #000;
  padding: 100px 5%;
}

.button {
  width: 20vw;
  text-align: center;
  background-color: #000;
}

.efi-button-copy {
  width: 15vw;
  text-align: center;
  background-color: #000;
  margin-right: 27px;
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 400;
  transition: all .7s;
}

.efi-button-copy:hover {
  transform: translate(0, -7px);
}

@media screen and (min-width: 1920px) {
  .section-1 {
    height: 110vh;
  }

  .section-2 {
    background-color: #fff;
  }

  .section-3 {
    background-color: rgba(255, 255, 255, .25);
  }

  .efi-hr-01-logos {
    background-color: #fff;
  }

  .efi-hr-01-right-content {
    background-position: 0%;
  }

  .efi-jumbo {
    font-size: 5vh;
    line-height: 1.2em;
  }

  .efi-hr-01 {
    position: relative;
  }

  .efi-paragraph {
    color: #fff;
  }

  .efi-ft-09-grid-inner {
    margin-top: 3px;
  }

  .efi-h2 {
    color: var(--relume-library-lite-rl-black);
  }

  .efi-ft-09-grid {
    grid-template-columns: 1fr;
  }

  .efi-ft-09-container {
    margin-bottom: -65px;
  }

  .list-item {
    color: #000;
    text-align: justify;
    margin-top: 13px;
    padding-top: 0;
    font-size: 20px;
    line-height: 30px;
  }

  .text-block {
    color: var(--relume-library-lite-rl-black);
    font-size: 15px;
  }

  .div-block {
    padding-top: 65px;
  }

  .text-block-2 {
    color: var(--relume-library-lite-rl-black);
    font-size: 20px;
  }

  .text-block-3 {
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
  }

  .bold-text {
    font-size: 20px;
  }

  .quick-stack {
    margin-top: 17px;
    padding: 24px 0 0;
  }

  .cell {
    flex-direction: row;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 991px) {
  .rl_menu-icon_line-bottom {
    width: 24px;
    height: 2px;
    background-color: #000;
    padding-bottom: 0;
    padding-right: 0;
  }

  .rl_menu-icon_line-middle-inner {
    width: 4px;
    height: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .rl_menu-icon_line-middle {
    width: 24px;
    height: 2px;
    background-color: #000;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .rl_menu-icon_line-top {
    width: 24px;
    height: 2px;
    background-color: #000;
    padding-bottom: 0;
    padding-right: 0;
  }

  .rl_menu-icon {
    width: 48px;
    height: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: -.5rem;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .rl_navbar1_menu-button.w--open {
    background-color: rgba(0, 0, 0, 0);
  }

  .rl_navbar1_menu-buttons {
    flex-direction: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    align-items: stretch;
    margin-top: 1.5rem;
    margin-left: 0;
  }

  .rl_navbar1_dropdown-link {
    width: auto;
    padding: .75rem 0 .75rem 5%;
  }

  .rl_navbar1_dropdown-list {
    position: static;
    overflow: hidden;
  }

  .rl_navbar1_dropdown-list.w--open {
    border-style: none;
    padding: 0;
  }

  .rl-dropdown-icon {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    top: auto;
    bottom: auto;
    left: auto;
    right: 0%;
  }

  .rl_navbar1_dropdown-toggle {
    align-items: center;
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: 0;
    display: flex;
  }

  .rl_navbar1_menu-dropdown {
    width: 100%;
    font-size: 1.125rem;
  }

  .rl_navbar1_link {
    width: auto;
    padding: .75rem 0;
    font-size: 1.125rem;
  }

  .rl_navbar1_menu {
    -webkit-text-fill-color: inherit;
    background-color: #fff;
    background-clip: border-box;
    border-bottom: 1px solid #000;
    padding: 1rem 5% 2rem;
    position: absolute;
    overflow: auto;
  }

  .rl_navbar1_menu.is-page-height-tablet {
    height: 100vh;
    padding-bottom: 15rem;
  }

  .efi-button-menu {
    padding: 0;
  }

  .efi-button-menu.w--open {
    background-color: #000;
  }

  .efi-nav-link.light {
    background-color: #fff;
    padding: 30px 5%;
  }

  .efi-hr-01-logos-grid {
    grid-row-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .efi-jumbo {
    font-size: 65px;
  }

  .efi-hr-01-left-content {
    padding-right: 0%;
  }

  .efi-hr-01-grid {
    grid-row-gap: 70px;
    grid-template-columns: 1fr;
  }

  .efi-hr-01 {
    padding-top: 10%;
    padding-bottom: 5%;
  }

  .efi-ft-09-accordion-wrap {
    padding-left: 20px;
    padding-right: 20px;
  }

  .efi-ft-09 {
    padding-top: 10%;
    padding-bottom: 10%;
  }
}

@media screen and (max-width: 767px) {
  .rl_navbar1_logo-link {
    padding-left: 0;
  }

  .rl_navbar1_component {
    height: auto;
    min-height: 4rem;
  }

  .efi-jumbo {
    font-size: 50px;
  }

  .efi-ft-09-grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .section-3 {
    background-color: var(--relume-library-lite-rl-white);
  }

  .efi-hr-01-logos-grid {
    grid-template-columns: 1fr 1fr;
  }

  .efi-button {
    width: 80vw;
    margin-top: 11px;
    display: flex;
  }

  .efi-big-paragraph {
    font-size: 15px;
    line-height: 20px;
  }

  .efi-jumbo {
    font-size: 30px;
  }

  .efi-paragraph {
    margin-bottom: 0;
  }

  .efi-h2 {
    margin-top: 0;
    margin-bottom: -8px;
    font-size: 20px;
  }

  .efi-ft-09-container {
    margin-top: -54px;
  }

  .list-item {
    text-align: left;
    padding: 2%;
  }

  .text-block-2 {
    padding-left: 1%;
    padding-right: 1%;
  }

  .text-block-3 {
    text-align: justify;
    padding-left: 1%;
    padding-right: 1%;
  }

  .list {
    margin-left: auto;
    margin-right: auto;
    padding: 0% 0% 0% 10%;
  }

  .efi-frm-03-text-grid {
    grid-template-columns: 1fr;
  }
}

#w-node-_55d7a094-4ce1-eee8-f6ff-9c3903966c08-cd7254b3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_55d7a094-4ce1-eee8-f6ff-9c3903966c13-cd7254b3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: auto;
}

#w-node-_57a2da7d-4c7e-ac61-0d09-72338ff039e5-cd7254b3, #w-node-_57a2da7d-4c7e-ac61-0d09-72338ff039f0-cd7254b3, #w-node-_57a2da7d-4c7e-ac61-0d09-72338ff03a03-cd7254b3, #w-node-_57a2da7d-4c7e-ac61-0d09-72338ff03a11-cd7254b3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_57a2da7d-4c7e-ac61-0d09-72338ff03a14-cd7254b3, #w-node-_57a2da7d-4c7e-ac61-0d09-72338ff03a21-cd7254b3 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_57a2da7d-4c7e-ac61-0d09-72338ff03a32-cd7254b3, #CONTACT.w-node-b6476fc1-568e-9f51-34ba-d40691f22015-cd7254b3, #w-node-b6476fc1-568e-9f51-34ba-d40691f22018-cd7254b3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (min-width: 1920px) {
  #w-node-_55d7a094-4ce1-eee8-f6ff-9c3903966c08-cd7254b3 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_55d7a094-4ce1-eee8-f6ff-9c3903966c13-cd7254b3 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: center;
    justify-self: auto;
  }

  #w-node-_57a2da7d-4c7e-ac61-0d09-72338ff039e5-cd7254b3, #w-node-_57a2da7d-4c7e-ac61-0d09-72338ff039f0-cd7254b3, #w-node-_57a2da7d-4c7e-ac61-0d09-72338ff039f3-cd7254b3, #w-node-_57a2da7d-4c7e-ac61-0d09-72338ff039fa-cd7254b3, #w-node-_57a2da7d-4c7e-ac61-0d09-72338ff03a03-cd7254b3, #w-node-_57a2da7d-4c7e-ac61-0d09-72338ff03a11-cd7254b3 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_57a2da7d-4c7e-ac61-0d09-72338ff03a14-cd7254b3, #w-node-_57a2da7d-4c7e-ac61-0d09-72338ff03a21-cd7254b3 {
    grid-template-rows: auto;
    grid-template-columns: 1fr .4fr;
  }

  #w-node-_57a2da7d-4c7e-ac61-0d09-72338ff03a32-cd7254b3, #w-node-_57a2da7d-4c7e-ac61-0d09-72338ff03a35-cd7254b3 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_57a2da7d-4c7e-ac61-0d09-72338ff03a06-cd7254b3, #w-node-_57a2da7d-4c7e-ac61-0d09-72338ff03a09-cd7254b3 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}
